
<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <div class="jumbotron information" >

          <h2>Fale com a gente: </h2>
          <br>
          <p class="lead"> <span class="glyphicon glyphicon-envelope"></span> E-mail: zonis.monteiro@gmail.com</p>
          <p class="lead"> <span class="glyphicon glyphicon-earphone"></span> Tel: +55 (21) 2522-2510</p>
          <p class="lead"><a href="url" class="lead link-custom" style="color: #2e2e1f"><i class="fa fa-facebook-square"></i> Facebook</a></p>
          <p class="lead"><a href="url" class="lead link-custom" style="color: #2e2e1f"><i class="fa fa-instagram"></i> Instagram</a></p>
        </div>
        <div ng-controller="mapCtrl" style='max-width: 100%;height: auto;width: auto\9; '><div id='gmap_canvas' style='height:440px;width:px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
      </div>
  </div>
        <footer class="center">
        <p>&copy; Company 2014</p>
      </footer>
</div><!-- /.container -->
